div#options-box {
    border: 1px solid black;
    padding: 1em;
}

div#options-box h2:first-child {
    margin-top: 0;
}

div#galton-histogram table {
    border-collapse: collapse;
    width: 100%;
}

div#galton-histogram table tr th:nth-child(1),
div#galton-histogram table tr th:nth-child(2),
div#galton-histogram table tr td:nth-child(1),
div#galton-histogram table tr td:nth-child(2) {
    width: 3em;
}

div#galton-histogram table tr th:nth-child(3) {
    text-align: left;
    padding-left: 5px;
}

div#galton-histogram table tr td:nth-child(1),
div#galton-histogram table tr td:nth-child(2) {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}

body {
    padding-left: 1in;
    padding-top: 0.5in;
    font-family: sans-serif;
}

div#galton-board {
    font-family: monospace;
    border: 1px solid black;
    text-align: center;
    padding: 1em;
}
